:root {
    --background: #ceaeae;
    --text: #615a5a;
    --width: 640px;
    --heigh: 110px;
    --font-size: 26px;
    --danger: #6b4d5f;
    --foreground: #ffffff;
    --border: 1px solid #717171;
    --textDone: #b2a0ad;
}
:focus {
    outline: 0;
}

/* ============================================================ */
body {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    max-width: var(--width);
}
.title {
    font-weight: 600;
    font-size: 44px;
    color: rgb(121, 120, 120);

    text-shadow: 4px 4px 4px rgb(154, 124, 124);
}

/* ============================================================== */
.input {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: var(--border);

    background-color: var(--foreground);
    
}
.input>input {    
    display: flex;  
    flex: 1;
    height: var(--heigh);
    font-size: var(--font-size);
    width: var(--width);
    border: none;
}
.input ::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_btn {
    display: none;
}

/* ============================================================== */
.todos[data-filter='done'] > .todo:not(:has(input:checked)) {
    display: none;
}
.todos[data-filter='active'] > .todo:has(input:checked) {
    display: none;
}
.todos {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: var(--border);
    height: var(--heigh);

}
.todo > input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0 16px;
    cursor: pointer;
    border: 3px solid var(--foreground);
}
.todo > input[type='checkbox']:checked {
    background: #80ee88;
}
.todo > input[type='checkbox']:checked ~ h4 {
    color: var(--textDone);
    text-decoration: line-through;
}
.todo--check {
    display: flex;
    align-items: center;
    margin: 0 16px 0 16px;
    height: var(--heigh);
    position: relative;
    width: 20px;
    height: 20px;
}
.todo--marker::before {
    position: absolute;
    border-radius: 50%;
    color: rgb(65, 216, 65);
    font-size: 40px;
    margin-right: 100px;
}  
.todo--text {
    display: flex;
    flex: 1;
    color: var(--text);
    font-size: var(--font-size);
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 100%;
}
.todo > .todo--remove {
    display: flex;
    align-items: center;
    margin: 0 16px;
    width: 20px;
    height: 20px;
    border: 3px solid var(--foreground);
    border-radius: 10px;
    justify-content: center;
    color: var(--foreground);
    background: #ea6e99;
}

/* ========================================================== */
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--heigh);
    box-shadow: 4px 4px 14px rgb(134, 104, 104);
}
.status--counter {
    font-size: 22px;
    color: var(--danger);
    margin: 0 16px;
}
.status--filter {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
.status--filter > * >input[type='radio'] {
    display: none;
}
.status--filter > .active {
    border: 1px solid var(--text);
}
.status--filter input:checked {
    border: 1px solid #615a5a;
}
.status--filter label {
    width: 80px;
    height: 40px;
    font-size: 22px;
    background: #947b8a;
    border-radius: 10px;
    color: #cfcfcf;
    border-style: outset;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.status--filter label:hover {
    background: var(--danger);
}
.status--clear {
    font-size: 22px;
    color: var(--danger);
    margin: 0 16px;
}

.try {
    position: relative;
    margin: 20px;
    padding-left: 28px;
    line-height: 26px;
  }
  
  .try:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 34px;
    height: 14px;
    border-right: 4px solid rgb(113, 113, 113);
    border-top: 4px solid rgb(128, 128, 128);
    transform: rotate(135deg);
  }
  
/* =============================================================== */

.textarea__counter {
    display: flex;
    justify-content: center;
    color: var(--foreground);
    font-size: 24px;
    font-weight: 900;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ######## mobile version ############################################################################################################################# */

@media (max-width: 768px) {
    :root {
        --width: 80%;
        --heigh: 90px;
        --font-size: 22px;
    }

.wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 600px;
}

/* ==== btn ========================================================== */

.sub_btn {
    width: 80px;
    height: 50px;
    font-size: 22px;
    background: #947b8a;
    border-radius: 10px;
    color: #cfcfcf;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    border: outset;
}
.sub_btn:hover {
    background: var(--danger); 
}

/* ============================================================== */
.todo {
    height: var(--heigh);
}
.todo--check {
    height: var(--heigh);
}
.todo--text {
    font-size: var(--font-size);
}
/* ========================================================== */
.status {
    height: var(--heigh);
}
.status--counter {
    font-size: 22px;
}

.status--filter label {
    width: 70px;
    height: 40px;
    font-size: 22px;
}

.status--clear {
    font-size: 22px;
}

.try {
    position: relative;
    margin: 20px;
    padding-left: 20px;
    line-height: 22px;
  }
  
  .try:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 26px;
    height: 14px;
    border-right: 4px solid rgb(113, 113, 113);
    border-top: 4px solid rgb(128, 128, 128);
    transform: rotate(135deg);
  }
  
/* =============================================================== */

.textarea__counter {

    font-size: 22px;
    font-weight: 900;
}
}

/* ################################################################################### */

@media (max-width: 350px) {
    :root {
        --width: 70%;
        --heigh: 100px;
        --font-size: 14px;
    }

.wrapper {
    max-width: 340px;
}

/* ==== btn ========================================================== */

.sub_btn {
    width: 60px;
    height: 30px;
    font-size: 14px;
    margin-right: 5px;
}
.sub_btn:hover {
    background: var(--danger); 
}

/* ============================================================== */
.todo {
    height: var(--heigh);
}
.todo--check {
    height: var(--heigh);
}
.todo--text {
    font-size: var(--font-size);
}
/* ========================================================== */
.status {
    height: var(--heigh);
}
.status--counter {
    font-size: 14px;
}

.status--filter label {
    width: 50px;
    height: 30px;
    font-size: 14px;
}

.status--clear {
    font-size: 14px;
}

.try {
    position: relative;
    margin: 20px;
    padding-left: 10px;
    line-height: 20px;
  }
  
  .try:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 18px;
    height: 14px;
    border-right: 4px solid rgb(113, 113, 113);
    border-top: 4px solid rgb(128, 128, 128);
    transform: rotate(135deg);
  }
  
/* =============================================================== */

.textarea__counter {
    font-size: 14px;
}
}

/* ################################################################################### */

